@{
	// nesta zona vamos escrever código C#
	ViewData["Title"] = "Eq. 2 Grau";
}

<!-- nesta zona vamos escrever HTML -->
@* este outro comentário está feito em RAZOR e é invisível no browser *@

<div class="text-center">
	<h1 class="display-4">Cálculo das Raízes de uma equação do 2º grau</h1>
</div>

<form>

	<p>
		introduza, por favor, os valores dos parâmetros da equação
	</p>

	<b>a:</b> <input type="text" /><br />
	<b>b:</b> <input type="text" /><br />
	<b>c:</b> <input type="text" /><br />
	<input type="submit" value="Calcular" />

</form>